* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    padding: 12px 20px;
    border-radius: 4px;
    background-color: darkblue;
    color: white;
    display: block;
    max-width: max-content;
}