@media (max-width:1024px) {
    .header-nav {
        display: none;
    }

    .header-right-content {
        margin-left: auto;
    }

    .ham-burger-menu-btn {
        display: block;
    }

    .header-container:has(input:checked) .header-nav {
        display: block;
    }
}