@media (max-width: 1024px) {
    .header-nav {
        position: absolute;
        top: 115px;
        background: rgb(255, 255, 255);
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: none;
    }

    .header-container:has(input:checked) .header-nav {
        display: flex;
    }

    .header-nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-right-content {
        margin-left: auto;
    }

    .ham-burger-menu-btn {
        display: block;
    }
}