@import url('./fonts.css');
@import url('./basic-needs.css');

.header-container {
    display: flex;
    padding: 12px 0;
    align-items: center;
}

.header-nav {
    margin-left: auto;
}

.header-nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header-right-content {
    margin-left: 50px;
}