* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.polygone-shape {
    width: 400px;
    height: 400px;
    clip-path: polygon(25% 5%,
            70% 0%,
            95% 20%,
            100% 60%,
            75% 95%,
            40% 100%,
            10% 85%,
            0% 40%);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

svg {
    transform: rotate(55deg);
    width: 300px;
}